
VITE_SUPABASE_URL=https://crnwdzjzevkruwzgezrb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNybndkemp6ZXZrcnV3emdlenJiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTEyOTMyNzksImV4cCI6MjEwNjg2OTI3OX0.Zzg39bKQu_qzfrh27kERCCeb6Alaxn3cQJQswcvsYi4
